<nb-card size="medium" style="max-width: 600px; min-width: 300px; width: 25vw; height: auto; max-height: 90vh; border: none" >
  <nb-card-header>
    About
    <nb-icon icon="info-outline"></nb-icon>
  </nb-card-header>
  <nb-card-body style="padding: 0px">
    <div class="body-div-top">
      <img class="app-logo" src="assets/img/logo_gif.gif">
      <p class="app-version">Version <strong>2.0.0</strong></p>
    </div>
    <div class="body-div-bottom">
      <p class="app-created-by">By <strong>LSDevLab</strong></p>
      <div class="social-icons">
        <a href='https://github.com/LsDevLab'>
          <img class="social-img" src="assets/img/github.svg">
        </a>
        <a href='https://www.instagram.com/luigisc23_/'>
          <img class="social-img" src="assets/img/instagram.svg">
        </a>
        <a href='https://twitter.com/SchiavoneLuigi'>
          <img class="social-img" src="assets/img/twitter.svg">
        </a>
      </div>
    </div>
  </nb-card-body>

</nb-card>
