<nb-card>
  <nb-card-body>
    <div class="signup-header">
      <img class="signup-header-logo" src="assets/img/logo_img_colorized_b.png">
      <p class="signup-header-title">Signup to Hi Web</p>
      <p  class="signup-header-subtitle">Signup to Hi Web with email and password
        or with your Google account</p>
    </div>
    <nb-stepper orientation="horizontal" disableStepNavigation #stepper>
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Access data</ng-template>
        <app-access-form [signingMode]="true"
                         (formSubmit)="goToAccessDataStep(stepper, $event.email, $event.password)"
                         [loading]="loading"
                         [accessErrorMessage]="signupErrorMessage"
        ></app-access-form>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>User details</ng-template>
        <div class="signup-details-subheader">
          <img class="signup-details-logo" src="assets/img/checked.png">
          <div class="signup-details-subheader-captions">
            <p class="signup-details-caption">You successfully registered your account!</p>
            <p class="signup-details-caption-subtitle">Complete your user details now.</p>
          </div>
        </div>
      </nb-step>
      <nb-step label="Avatar">
        <h4>Step content #3</h4>

      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
