<nb-layout>
  <!-- Header component -->
  <nb-layout-header>
      <img src="assets/img/logo_img_colorized_b.png" style="height: 100%">
      <nb-select placeholder="johndoe98" filled status="primary" (selectedChange)="changeLocation($event)">
        <nb-option value="johndoe98">johndoe98</nb-option>
        <nb-option value="kaktus98">kaktus98</nb-option>
      </nb-select>
  </nb-layout-header>
  <!-- Body component -->
  <nb-layout-column class="colored-column-basic" style="padding-right: 0px">
    <app-contacts-list></app-contacts-list>
  </nb-layout-column>
  <nb-layout-column class="colored-column-basic">
    <app-chat-form></app-chat-form>
  </nb-layout-column>
  <!-- Footer component -->
  <nb-layout-footer>
    <span class="caption">Hi! - Made by LS Lab - 2020</span>
  </nb-layout-footer>
</nb-layout> 