.log-header{
  float: right;
  display:block;
}

.current-user-info{
  float: left;
  display:block;
}

.log-out-btn{
  margin-left: 10px;
  float: right;
  display:block;
}

.settings-btn{
  margin-right: 15px;
  margin-left: 15px;
}

