nb-layout{
  width:100%;
  height:100%;
}
nb-layout-column:first-child {
  flex: 1 !important;
}
nb-layout-column:last-child {
  flex: 3 !important;
}

.log-header{
  display:flex; 
  justify-content:flex-end; 
  width:100%; 
  padding:0;
}

.current-user-info{
  margin-right: 15px;
}
