<div class="row" style="height: inherit;">
  <img src="assets/img/logo_gif.gif" style="height: 100%; float: left;">
      <!--<nb-select placeholder="johndoe98" filled status="primary" (selectedChange)="changeUser($event)">
        <nb-option value="johndoe98">johndoe98</nb-option>
        <nb-option value="kaktus98">kaktus98</nb-option>
      </nb-select>-->
  
  <div style="float: right;">
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <!--<ng-container *ngIf="true else loggedOut">-->
      <!--
      <nb-user class="current-user-info" *ngIf="auth.user$ | async as user" style="color: white;"
          onlyPicture=true
          color="white"
          >
      </nb-user>-->
      <div class="user-details-div" *ngIf="auth.user$ | async as user">
        <nb-user style="width: fit-content;"
          size="medium" 
          color="white" 
          onlyPicture=true 
          [name]="user.email"
          [title]="user.name">
        </nb-user>
        <div style="color: white; width: fit-content">
          <div class="user-name" style="font-weight: bold; font-size: 11pt;">{{user.name}}</div>
          <div style="font-size: 8pt;">{{user.email}}</div>
        </div>
      </div>
      <!-- must delete from local storage the key and then do the logout -->
      <button nbButton ghost class="log-out-btn" status="control" (click)="logOut()">Logout<nb-icon icon="log-out-outline"></nb-icon></button>
    </ng-container>
    <ng-template #loggedOut>
      <button nbButton ghost status="control" (click)="auth.loginWithRedirect()">Login<nb-icon icon="log-in-outline"></nb-icon></button>
    </ng-template>
  </div>
</div>