
.home-page-main-div{
  height: fit-content;
}

.top-banner{
  width: 100%;
  background-color: #3366ff;
  background-image: url("src/assets/img/background_top_header.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.top-banner-action-div{
  margin: 50px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
}

.top-banner-title{
  color: white;
  font-size: 25pt;
  margin: 20px 100px 10px 0px;
  font-weight: 600;
}

.top-banner-subtitle{
  color: white;
  font-size: 13pt;
  max-width: 800px;
  line-height: 30px;
  margin-right: 100px;
}

.action-div-card{
  width: fit-content;
}

.title-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.hi-top-banner-title{
  margin: 15px 10px 15px 0px;
  height: 80px;
}

.signin-button{
  margin: 2px 16px 2px 0px;
  width: 100px;
  height: 45px;
}

.action-div-card-text{
  width: 50%;
  margin: 5px 20px 5px 0px;
  font-size: 90%;
}

.action-card-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.top-banner-bottom{
  width: inherit;
}

.top-banner-top{
  padding: 0 10% 0% 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: inherit;
  gap: 10vw;
}

.top-banner-top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.top-banner-top-right {
}

.phone-img {
  height: 75vh;
  transform: translateY(5vw);
}


.example-div-card{
  width: 70%;
  height: 400px;
  margin: 3%;
  border-radius: 10px;
}

.middle-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 10% 2% 10%;
}

h1, p, h2{
  font-family: 'Raleway';
}

.center-text-title, .center-text-subtitle{
  color: #2e3a59;
}

.center-text-title{
  font-size: 45px;
  margin: 10px;
  text-align: center;
}

.center-text-subtitle{
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
}

.center-text-block{
  padding: 0% 15% 0% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-card-1, .detail-card-2{
  border-radius: 8px;
  background: white;
  width: 450px;
  height: fit-content;
  max-width: 60%;
  margin: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.detail-card-3{
  border-radius: 8px;
  background: white;
  width: 100%;
  height: 300px;
  margin: 35px;
}


.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.footer{
  width: inherit;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #2e3a59;
  font-family: Raleway;
  margin: 20px;
}

.footer-img-top{
  width: 100%;
  margin-bottom: 20px;
}

.screen-image{
  width: 60%;
}

h2{
  color: #2e3a59;
}

.detail-card-1-img{
  height: 200px;
}

.detail-card-2-img{
  height: 160px;
  margin: 20px;
}

.disclaimer-text{
  font-size: 12px;
  margin: 0;
  text-align: center;
  padding: 0px 30px 0px 30px;
}

.footer-row1{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
  max-width: 90%;
}

.footer-logo{
  height: 150px;
  margin: 0px 40px 10px 40px;

}

.footer-hi-chat{
  height: 80px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 30px 30px 30px;
  text-decoration: none;
}

.footer-follow-me{
  height: 80px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 30px 30px 30px;

}

.footer-contact-me{
  height: 80px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 30px 30px 30px;

}

.footer-row3{
  margin: 0% 0% 20px 0% ;
}

.footer-row2{
  font-size: 12pt;
}

.footer-outer{
  width: inherit;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: radial-gradient(circle,#fff 0,#fff 15.38%,#d7dfeb 100%);
}

.go-to-chat-link{
  text-decoration: none;
  margin: 0;
  font-weight: 400;
}

.footer-hi-chat-title{
  font-size: 15pt;
  margin: 0px 0px 10px 0px;
}

.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.social-img{
  height: 40px;
  margin: 0px 10px 0px 10px;
}

.nav-bar-fixed {
  position: fixed;
  transition: 0.5s linear;
  top: 0px;
}

.nav-bar-no-fixed {
  position: static;
  transition: 0.2s linear;
}

unlogged-app-header {
  width: 100%;
  z-index: 1;
}
