<nb-chat [title]="targetUser" style="height: 100%" scrollBottom="true" status="primary">
  <nb-chat-message  *ngFor="let msg of messages"
                    [type]="msg.type"
                    [message]="msg.text"
                    [reply]="msg.reply"
                    [sender]="msg.user.name"
                    [date]="msg.date"
                    [files]="msg.files"
                    [quote]="msg.quote"
                    [latitude]="msg.latitude"
                    [longitude]="msg.longitude"
                    [firstOfTheDay]="msg.firstOfTheDay"
                    [lastOfAGroup]="msg.lastOfAGroup"
                    dateFormat="short"
                    (messageQuoted)="assignMessageQuoted(msg)"
                    >
  </nb-chat-message>
  <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true" [(messageQuoted)]="messageQuoted">
  </nb-chat-form>
</nb-chat>
