/*nb-card {
  min-width: 3rem;
  margin: 0 auto 0;
  min-height: 97%;
  max-height: 97%;
}*/

nb-list-item{
  margin: 0px;
}
nb-list-item:hover{
  background: #e0efff; /* make this whatever you want */
  }

@media screen and (max-width: 992px) {
  nb-list-item{
    margin: 0px;
  }
}

.columnl {
  float: left;
  width: 50%;
}

.columnr {
  float: right;
  text-align: right;
  width: 50%;
}
