<!--<nb-card size="medium" class="own-scroll" status="primary" style="height: 100%; margin: 0;">-->
  <!--
  <nb-card-header style="padding-right: 10px;">
    <div class="columnl">
      Chats
    </div>
    <div class="columnr">
      <button *ngIf="screenIsSmall" nbButton ghost status="control" style="height: 8px;"><nb-icon icon="settings-outline"></nb-icon></button>
    </div>
    </nb-card-header>-->
  <nb-list
    nbInfiniteList
    [threshold]="500">
    <nb-list-item *ngFor="let chat of chats" (click)="selectChat(chat.targetUsername)" [style.background-color]="chat.targetUsername===targetUser ? '#c7e2ff' : ''" style="cursor: pointer;">
      <div class="item-div">
        <nb-user [name]="chat.name + ' ' + chat.surname"
                 [title]="chat.targetUsername"
                 [picture]="chat.profile_img ? chat.profile_img : 'assets/img/default_profile_img.png'"
                 color="white">
        </nb-user>
        <svg height="10" width="10" *ngIf="chat.notify" >
          <circle cx="5" cy="5" r="5" fill="#36ff" />
        </svg>
        <p>{{chat.numOfMessagesToRead}}</p>
      </div>
    </nb-list-item>
    <nb-list-item style="cursor: pointer;" (click)="openAddChatDialog()">
      <nb-icon icon="plus-outline" style="display: block; margin-left: auto; margin-right: auto;"></nb-icon>
    </nb-list-item>
  </nb-list>

<!--</nb-card>-->
