<nb-card size="medium" class="own-scroll">
  <nb-list
    nbInfiniteList
    [threshold]="500">
    <nb-list-item *ngFor="let user of users" (click)="selectUser(user)" [style.background-color]="user.name===otherUser ? '#c7e2ff' : ''">
      <nb-user [name]="user.name"
                [title]="user.email" 
                picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG"
                [badgeText]="user.unreaded"
                badgeStatus="success"
                badgePosition="bottom right">
      </nb-user>
    </nb-list-item>
  </nb-list>
</nb-card>
