/*nb-card {
  min-width: 3rem;
  margin: 0 auto 0;
  min-height: 97%;
  max-height: 97%;
}*/

nb-list-item{
  margin: 0px;
}
nb-list-item:hover{
  background: #e0efff; /* make this whatever you want */
  }

@media screen and (max-width: 992px) {
  nb-list-item{
    margin: 0px;
  }
}


.columnl {
  float: left;
  width: 50%;
}

.columnr {
  float: right;
  text-align: right;
  width: 50%;
}

.item-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.notify-badge-div{
  position: relative;
  width: inherit;
  height: 16px;
}

.notify-badge {
  min-width: 15px;
  position: relative;
}

.chat-info-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.chat-info-row-2, .chat-info-row-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.chat-info-row-1-col-1, .chat-info-row-2-col-1 {
  flex-grow: 4;
}

.chat-info-row-2-col-2 {
  display: flex;
}

.chat-info-row-2-col-2, .chat-info-row-1-col-2 {
  white-space: nowrap;
}

.chat-info-name-username {
  margin: 0;
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
}

.chat-info-msg-preview {
  margin: 0;
  font-family: Raleway;
  font-weight: 400;
  font-size: 13px;
  color: #626871;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 17px;
  -webkit-mask-image: -webkit-gradient(linear,left top,
  right bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

.chat-info-updated-time {
  margin: 0;
  font-family: Raleway;
  font-weight: 400;
  font-size: 13px;
  color: #626871;
}


