<nb-card size="medium" style="max-width: 600px; min-width: 300px; width: 40vw; height: auto;" status="primary">
  <nb-card-header>
    Edit profile
    <nb-icon icon="person-outline"></nb-icon>
  </nb-card-header>
  <nb-card-body>
      <nb-form-field>
        <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
        <input #nameInput type="text" placeholder="Username" nbInput fullWidth>
      </nb-form-field>
  </nb-card-body>
  <nb-card-footer style="clear: both;">
    <button nbButton style="float: left;" (click)="closeDialog()">Close</button>
    <button nbButton style="float: right;" (click)="saveEdits(nameInput.name)" status="primary">Save</button>
    <img src="assets/img/three_dots_loader.gif" class="loading-user-img" *ngIf="loadingUserImg" style="float: right; padding-right: 10px" >
  </nb-card-footer>
</nb-card>
