
nb-card{
  max-width: 600px;
  min-width: 300px;
  width: 25vw;
  height: auto;
  max-height: 90vh;
  border: none;
}

nb-card-body{
  padding: 0px;
}

.loading-user-data{
  height: 40px;
}

.body-div{
  display: flex;
  flex-direction: column;

}

.profile-inputs-div{
  padding: 10px 24px 24px 24px;
}

.profile-input-field{
  padding-top: 14px;
}

app-user-data-form{
  padding: 1rem;
}

