<nb-card size="medium" style="max-width: 600px; min-width: 300px; width: 25vw; height: auto; max-height: 90vh; border: none" >
  <nb-card-header>
    Edit profile
    <nb-icon icon="person-outline"></nb-icon>
  </nb-card-header>
  <nb-card-body style="padding: 0px">
    <div class="body-div">
      <div class="profile-img-div">
        <h5 class="name-surname-label">{{userData.name}} {{userData.surname}}</h5>
        <img class="profile-img" [src]="userData.profile_img ? userData.profile_img : 'assets/img/default_profile_img.png'">
        <input type="file" (change)="editProfileImage($event)" accept=".png,.jpg" />
        <p class="username-label">{{userData.username}}</p>
      </div>
      <div class="profile-inputs-div">
        <nb-form-field class="profile-input-field">
          <input #bioInput type="text" fieldSize="small" placeholder="Bio" nbInput fullWidth status="basic" [value]="userData.bio">
        </nb-form-field>
        <nb-form-field class="profile-input-field">
          <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
          <input #nameInput type="text" placeholder="Name" nbInput fullWidth [value]="userData.name">
        </nb-form-field>
        <nb-form-field class="profile-input-field">
          <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
          <input #surnameInput type="text" placeholder="Surname" nbInput fullWidth [value]="userData.surname">
        </nb-form-field>
        <nb-select #sexSelect placeholder="Sex" class="profile-input-field" fullWidth [selected]="userData.sex">
          <nb-option value="">No sex specified</nb-option>
          <nb-option value="M">M</nb-option>
          <nb-option value="F">F</nb-option>
          <nb-option value="Other">Other</nb-option>
        </nb-select>
        <nb-form-field class="profile-input-field">
          <nb-icon nbPrefix icon="hash-outline" pack="eva"></nb-icon>
          <input #ageInput type="text" placeholder="Age" nbInput fullWidth [value]="userData.age">
        </nb-form-field>
      </div>

    </div>

  </nb-card-body>
  <nb-card-footer style="clear: both;">
    <button nbButton style="float: left;" (click)="closeDialog()">Close</button>
    <button nbButton style="float: right;" (click)="saveEdits(
      {
                  bio: bioInput.value,
                  name: nameInput.value,
                  surname: surnameInput.value,
                  sex: sexSelect.selected,
                  age: ageInput.value
                }
      )" status="primary">Save</button>
    <img src="assets/img/three_dots_loader.gif" class="loading-user-data" *ngIf="loadingUserData" style="float: right; padding-right: 10px" >
  </nb-card-footer>
</nb-card>
