<nb-card>
  <nb-card-header>
    Edit profile
    <nb-icon icon="person-outline"></nb-icon>
  </nb-card-header>
  <nb-card-body>
    <div class="body-div">
      <app-user-avatar-form [(loadingUserData)]="loadingUserData"></app-user-avatar-form>
      <app-user-data-form [loading]="loadingUserData"
                          (formSubmit)="saveEdits($event)"
                          [name]="chatUiService.currentUser.name"
                          [surname]="chatUiService.currentUser.surname"
                          [sex]="chatUiService.currentUser.sex"
                          [age]="chatUiService.currentUser.age"
                          [bio]="chatUiService.currentUser.bio"
      ></app-user-data-form>
    </div>
  </nb-card-body>
</nb-card>
