
<nb-layout *ngIf="chatUiService.isFirstDataLoading" withScroll=false>

  <!-- Header component when screen is large -->
  <nb-layout-header class="chat-page-header" *ngIf="!chatUiService.screenIsSmall" style="min-height: 10px;">
    <logged-app-header *ngIf="!chatUiService.screenIsSmall" style="height: 100%; width: 100%;"></logged-app-header>
  </nb-layout-header>

  <nb-layout-column class="chat-page-body" style="padding: 0px; overflow-x: hidden;">

    <!-- when screen is large-->
    <div *ngIf="!chatUiService.screenIsSmall" class="contact-col" style="height: 100%;">
      <nb-reveal-card [showToggleButton]="false" revealed=true style="height: 100%">
        <nb-card-back style="height: 100%;">
          <nb-card style="margin-bottom: 0px; height: 100%">
            <nb-card-body style="padding: 0px; height: 100%" >
              <app-contacts-list></app-contacts-list>
            </nb-card-body>
            <nb-card-footer style="background-color: #36f; min-height: 55px; padding: 8px;">
              <div style="float: left; padding: 0; padding-right: 5px;">
              </div>
            </nb-card-footer>
          </nb-card>
        </nb-card-back>
      </nb-reveal-card>
    </div>
    <div *ngIf="(!chatUiService.screenIsSmall && chatUiService.isChatOpened)" class="chat-col" style="height: 100%;">
      <nb-reveal-card [showToggleButton]="false" revealed=false style="height: 100%">
        <nb-card-back style="height: 100%;">
          <nb-card style="margin-bottom: 0px; height: 100%">
            <nb-card-body style="padding: 0px; height: 100%" >
              <app-chat-form></app-chat-form>
            </nb-card-body>
            <nb-card-footer style="background-color: #36f; min-height: 55px; padding: 8px;">
              <div class="chat-user-info-div">
                <app-chat-user-info></app-chat-user-info>
              </div>
            </nb-card-footer>
          </nb-card>
        </nb-card-back>
      </nb-reveal-card>
    </div>

    <!-- when screen is small-->
    <div *ngIf="chatUiService.screenIsSmall" class="colored-column-basic" style="height: 100%; background-color: #36f;">
      <nb-reveal-card [showToggleButton]="false" [revealed]="chatUiService.isChatOpened" style="height: 100%">
        <nb-card-front style="height: 100%;">
          <nb-card style="margin-bottom: 0px; height: 100%; border: 0">
            <nb-card-body style="padding: 0px; height: 100%;">
              <div class="chat-page-header-small" style="width: 100%; height: 80px; padding: 15px; display: flex; align-items: center; flex-direction: row; justify-content: space-between">
                <img src="assets/img/logo_gif.gif" style="height: 70%; float: left; padding: 5px">
                <app-chat-logger></app-chat-logger>
              </div>
              <app-contacts-list></app-contacts-list>
            </nb-card-body>
            <nb-card-footer style="background-color: #36f; min-height: 55px; padding: 8px; border: 0">
              <div style="float: left; padding: 0">
                <button *ngIf="chatUiService.isChatOpened" nbButton ghost status="control" (click)="openChat()"><nb-icon icon="arrow-ios-upward-outline"></nb-icon></button>
              </div>
              <div style="float: right; padding: 0; padding-right: 5px;">
                <button nbButton ghost status="control"
                        [nbContextMenu]="userContextMenuItems"
                        nbContextMenuTag="user-context-menu-small"
                        nbContextMenuPlacement="top"
                        nbContextMenuTrigger="click"><nb-icon icon="menu-outline"></nb-icon></button>
              </div>
            </nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back style="height: 100%; border-radius: 0px">
          <nb-card style="margin-bottom: 0px; height: 100%; border: 0">
            <nb-card-body style="padding: 0px; height: 100%" >
              <app-chat-form *ngIf="chatUiService.isChatOpened"></app-chat-form>
            </nb-card-body>
            <nb-card-footer style="background-color: #36f; min-height: 55px; padding: 8px; border: 0">
              <div style="float: left; padding: 0; padding-right: 5px;">
                <button nbButton ghost status="control" (click)="chatUiService.closeChat()"><nb-icon icon="arrow-ios-downward-outline"></nb-icon></button>
              </div>
              <div class="chat-user-info-div">
                <app-chat-user-info></app-chat-user-info>
              </div>
            </nb-card-footer>
          </nb-card>
        </nb-card-back>
      </nb-reveal-card>
    </div>

  </nb-layout-column>

</nb-layout>

<p *ngIf="!chatUiService.isFirstDataLoading" >Loading</p>



