<div class="row" style="height: inherit;">
  <a href='/home' >
    <img src="assets/img/logo_gif.gif" style="height: 100%; float: left;">
  </a>
  <div style="float: right;">
    <ng-container *ngIf="isAuthenticated; else loggedOut">
      <button nbButton ghost status="control" (click)="router.navigateByUrl('/chat')">
        Vai alla chat
        <nb-icon icon="message-square-outline"></nb-icon>
      </button>
      <button nbButton ghost status="control" (click)="logOut()">
        Logout
        <nb-icon icon="log-out-outline"></nb-icon>
      </button>
    </ng-container>
    <ng-template #loggedOut>
      <button nbButton ghost status="control" (click)="signIn()">
        Login
        <nb-icon icon="log-in-outline"></nb-icon>
      </button>
    </ng-template>
  </div>
</div>
