<nb-card size="medium" style="max-width: 600px; min-width: 300px; width: 25vw; height: auto; max-height: 90vh; border: none" >
  <nb-card-header>
    Profile details
    <nb-icon icon="person-outline"></nb-icon>
  </nb-card-header>
  <nb-card-body style="padding: 0px">
    <div class="body-div">
      <div class="profile-img-div">
        <h5 class="name-surname-label">{{chatUiService.targetUser.name}} {{chatUiService.targetUser.surname}}</h5>
        <p class="username-label">{{chatUiService.targetUser.username}}</p>
        <div class="profile-img-container">
          <img class="profile-img"
               [src]="chatUiService.targetUser.profile_img_url ? chatUiService.targetUser.profile_img_url : 'assets/img/default_profile_img.png'">
        </div>
        <p class="sex-age-p"><strong>{{chatUiService.targetUser.sex}}</strong>, <strong>{{chatUiService.targetUser.age}}</strong> years old </p>
      </div>
      <div class="bio-div">
        <p class="bio-p">{{chatUiService.targetUser.bio}}</p>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer style="clear: both;">
    <button nbButton style="float: left;" (click)="closeDialog()">Close</button>
  </nb-card-footer>
</nb-card>
